<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} - {{ site.name }}</title>
        {% assets filters="libsass", output="dist/css/style.css", "css/style.css.scss" %}
            {{ 'dist/css/style.css' | stylesheet_tag }}
        {% endassets %}
    </head>

    <body>
        {% block content %}
            <h1>Base</h1>
        {% endblock %}

        {% assets output="dist/js/app.js", "js/app.js" %}
            {{ 'dist/js/app.js' | javascript_tag }}
        {% endassets %}
    </body>
</html>
